 
<div class="splash-content">
<h1>2Nite</h1>

<h3>Sign Up</h3>

<%= render 'shared/user_form', user: @user, submit_text: 'Sign Up', action: users_url %>
<!--<button class = "button" <a href="<%= new_session_url %>">Sign In</a></buton>-->
</div>