/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*** CSS RESET ***/
html,
body,
ul,
p,
h1,
h3,
button {
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     border: none;
    }
a {
  text-decoration:none;
}
html, body, #content {
     min-height: 100%;
   }
 
body {
     background: url(bar.jpg);
     background-size: cover;
}
li {
     list-style: none;
   }

/*** Splash Content ***/

.splash-content {
    text-align: center;
    background-color: rgba($color: #000000, $alpha: .7);
    color:white;
    width:70%;
    margin:auto;
    border-radius:5px;
    padding: 10px;
    
    h1 {
      font-family: 'Lobster', cursive;
      font-size: 150px;
    }
    h3 {
      font-family: 'Barlow', sans-serif;
      font-size: 50px;
    }
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    form {
      display:flex;
      flex-direction: column;
      font-family: 'Barlow', sans-serif;
      border-radius: 5px;
      /*background-color: rgba($color: #000000, $alpha: .7);*/
      max-width: 450px;
      margin: 0 auto;
      padding: 20px;
    

    input {
      display: block;
      margin: 0 auto;
      border:none;
      height:20px;
      margin: 10px;
      border-radius: 5px;
      padding:10px;
    }
    
    .first-button {
      margin-top: 10px;
    }
    button {
      display:block;
      
      padding: 5px;
      font-family: 'Barlow', sans-serif;
      background-color: white;
      padding: 10px;
      font-size: 20px;
      border-radius:5px;
      width:30%;
      margin:auto;
    }

    .first-button:hover{
      background-color:darkslateblue;
      color:white;
    }

    .second-button {
      background-color:gray;
      color:white;

    }

    .second-button:hover {
      background-color:darkslateblue;
      color:white;
    }
  }
}